
:root{
    --primary-color: rgb(44, 184, 240);
    --secondary-color: rgb(226, 217, 217);
    --sidebar-text-color: white;
    --font-family: 'Roboto', sans-serif;
}


body,
html {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}



/* LAYOUT STYLES */
.grid-container{
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: .75fr 3fr;
    height: 100%;
}

.sidebar{
    display: grid;
    grid-template-rows: .1fr 1fr;
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.main-content{
    grid-row: 2 / 3;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 24px;
}





/* Typography */

.sidebar h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    color: var(--sidebar-text-color);
}




/* COMPONENT STYLES */

/* Header Components */
/* Top Container Component */
.header-top-container{
    display: grid;
    grid-template-columns: .95fr 75px 75px 100px;
    align-items: center;
}


.header-top-searchbar-container{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 24px;
    grid-column: 1 / 2;
}

.header-top-container  input{
    
    height: 25px;
    width: 650px;
    margin: 24px;
    margin-left: 0;
    border-radius: 15px;
    background-color: rgb(226, 217, 217);
    border: none;
} 

.header-top-search-icon{
    height: 25px;
    margin-right: 15px;
    width: auto;
}

.header-top-notifications{
    grid-column: 2 / 3;
}
.header-top-profile-picture{
    grid-column: 3 / 4;
}

.header-top-name{
    grid-column: 4 / 5;
    font-weight: 800;
}

.header-top-notifications > img{
    height: 2rem;
    width: auto;
}

.header-top-profile-picture > img{
    height: 3rem;
    width: auto;
}

/* Bottom Container Component */
.header-bottom-container{
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
}

.header-bottom-greeting-container{
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    justify-items: start;
}

.header-bottom-profile-picture{
    margin: 24px;
}

.header-bottom-profile-picture > img{
    height: 4rem;
    width: auto;
}

.header-bottom-greeting{
    font-size: 1rem;
    font-weight: 700;
}

.header-bottom-greeting-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.action-items{
    display: flex;
    justify-content: space-evenly;
}

.action-items button{
    background-color: var(--primary-color);
    border: none;
    height: 2.5rem;
    width: 6rem;
    border-radius: 20px;
    color: var(--sidebar-text-color);
    font-weight: 900;
}

.action-items button:hover{
    border: 1px solid var(--primary-color);
    color: black;
    background-color: white; 
}

.action-items button:active{
    background-color: var(--primary-color);
    border: none;
    color: var(--sidebar-text-color);
}

/* Sidebar Components */

.sidebar-header{
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    padding: 15px;  
}

.dashboard-icon{
    height: 3rem;
    margin-right: 15px;
    width: auto;
}


.sidebar-nav{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-icon{
    height: 1.25rem;
    margin-right: 15px;
    width: auto;
}

.sidebar-nav > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar-nav li{
    display: flex;
    align-items: center;
    margin: 25px;
    
}

#communities-link{
    margin-bottom: 50px;
}

.sidebar a{
    text-decoration: none;
    color: var(--sidebar-text-color);
}


/* Main Components */


.projects{
    grid-row: 1 / 3;
    padding-top: 24px;
}

.main-title{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.cards-container{
    display: grid;
    
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card{
    height: 200px;
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-content > h3{
    margin: 0;
    margin-bottom: 15px;
}

.text-content > p{
    color: grey;
}

.project-icons{
    display: flex;
    justify-content: end;
}

.project-icon{
    margin: 10px;
    height: 2rem;
    width: auto;
}



.trending-card,
.announcements-card{
    height: 300px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.announcements,
.trending{
    padding: 24px;
}


.announcements-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    overflow: auto;
}

.announcements-card h4{
    margin: 0;
}
.announcements-card p{
    margin: 0;
}

.announcements-card > div {
    border-bottom: 1px solid #ccc; /* Adds a thin gray line */
    padding-bottom: 10px; /* Optional: Adds spacing below the content */
    margin-bottom: 10px; /* Optional: Adds spacing between items */
}

.announcements-card > div:last-child {
    border-bottom: none; /* Removes the border from the last item */
}


.trending-card{
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}

.trending-card-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 15px;

}

.trending-card-item-logo{
    height: 4rem;
    width: auto;
    
}
