body,
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


.grid-container{
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: .75fr 3fr;
    height: 100%;
}

.sidebar{
    display: grid;
    grid-template-rows: .1fr 1fr;
    background-color: rgb(44, 184, 240);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content{
    grid-row: 2 / 3;
    background-color: rgb(226, 217, 217);
}

.dashboard-header{
    grid-row: 1 / 2;
    font-size: 2rem;
    font-weight: 900;
    padding: 15px;
    color: white;
}

.dashboard-nav{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.25rem;
}

.dashboard-nav > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-nav li{
    margin: 25px;
    
}

#communities-link{
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
}