
:root{
    --primary-color: rgb(44, 184, 240);
    --secondary-color: rgb(226, 217, 217);
    --sidebar-text-color: white;
    --font-family: 'Roboto', sans-serif;
}


body,
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}



/* LAYOUT STYLES */
.grid-container{
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: .75fr 3fr;
    height: 100%;
}

.sidebar{
    display: grid;
    grid-template-rows: .1fr 1fr;
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: .80fr 1fr;
    
}

.main-content{
    grid-row: 2 / 3;
    background-color: var(--secondary-color);
}




/* Typography */

.sidebar h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    color: var(--sidebar-text-color);
}




/* COMPONENT STYLES */

/* Header Components */
.header-top-container{
    display: grid;
    grid-template-columns: 1fr .15fr .15fr .15fr;
    align-items: center;
}

.header-top-container  input{
    
    height: 25px;
    width: 650px;
    margin: 24px;
    margin-left: 0;
    border-radius: 15px;
    background-color: rgb(226, 217, 217);
    border: none;
} 

.header-top-searchbar{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 24px;
    grid-column: 1 / 2;
}

.header-top-search-icon{
    height: 25px;
    margin-right: 15px;
    width: auto;
}

.header-top-notifications{
    grid-column: 2 / 3;
}
.header-top-profile-picture{
    grid-column: 3 / 4;
}

.header-top-name{
    grid-column: 4 / 5;
}

.header-bottom-container{
    display: grid;
    grid-template-columns: 1fr .2fr .2fr .2fr;
    align-items: center;
}



/* Sidebar Components */

.sidebar-header{
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    padding: 15px;  
}

.dashboard-icon{
    height: 3rem;
    margin-right: 15px;
    width: auto;
}


.sidebar-nav{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-icon{
    height: 1.25rem;
    margin-right: 15px;
    width: auto;
}

.sidebar-nav > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar-nav li{
    display: flex;
    align-items: center;
    margin: 25px;
    
}

#communities-link{
    margin-bottom: 50px;
}

.sidebar a{
    text-decoration: none;
    color: var(--sidebar-text-color);
}